nav {
  background: rgb(255, 148, 33);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.home {
  height: 5rem;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}

#sunnyicon {
  padding-bottom: 14px;
}
nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: url("https://i.imgur.com/OPyQDTr.png?2"), auto;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
  cursor: url("https://i.imgur.com/OPyQDTr.png?2"), auto;
}

.navFav {
  position: absolute;
  padding-right: 3rem;
  right: 0;
  cursor: url("https://i.imgur.com/OPyQDTr.png?2"), auto;
}

.icon-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  vertical-align: center;
  align-items: center;
  cursor: url("https://i.imgur.com/OPyQDTr.png?2"), auto;
}
.fav-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  padding: 1rem;
  margin: auto;
  justify-content: center;
  vertical-align: center;
}

.fav {
  display: flex;
  margin: auto;
}
.card-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 15rem;
}

button:hover {
  cursor: url("https://i.imgur.com/OPyQDTr.png?2"), auto;
}

.card:hover,
.basic:hover {
  transform: translate3D(0, -1px, 0) scale(1.1);
  background-color: rgb(249, 188, 123);
  transition: transform 0.5s;
  cursor: url("https://i.imgur.com/OPyQDTr.png?2"), auto;
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
}

.card-list a {
  color: inherit;
}

.card-list a:hover {
  color: blue;
}

.search-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

.navicon {
  text-align: center;
}

@media only screen and (max-width: 1500px) {
  nav {
    overflow: auto;
    white-space: nowrap;
  }
  .navFav {
    position: relative;
    padding-left: 20px;
  }
  .card-list {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
  }
}
