nav {
  background: rgb(255, 148, 33);
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.home {
  height: 5rem;
  display: flex;
  font-size: 1.5em;
  justify-content: center;
}

#sunnyicon {
  padding-bottom: 14px;
}
nav h1 {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

nav a {
  color: white;
  display: inline-block;
  padding: 20px;
  font-size: 1.2em;
  text-decoration: none;
}

.navFav {
  position: absolute; 
  padding-right: 3rem;
  right: 0;
}

.icon-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  max-width: 80%;
  margin: auto;
  margin-top: 50px;
  /* padding: 1rem; */
  vertical-align: center;
}
.fav-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 0.5fr));
  padding: 1rem;
  margin: auto;
  /* max-width: 80%; */
  /* margin-top: 50px; */
  justify-content: center;
  /* align-items: center; */
  vertical-align: center;
}

.fav {
  display: flex;
  margin: auto;
}
.card-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

.card {
  display: flex;
  justify-content: center;
  text-align: center;
  /* min-width: 5rem; */
  max-width: 15rem;
  cursor: pointer;
}

.card:hover,
.basic:hover {
  transform: translate3D(0, -1px, 0) scale(1.1);
  background-color: rgb(249, 188, 123);
}

.header {
  display: flex;
  justify-content: center;
}

.container {
  align-items: center;
}

.card-list a {
  color: inherit;
}

.card-list a:hover {
  color: blue;
}

.search-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
}

.navicon {
  text-align: center;
}


@media only screen and (max-width: 768px) {
  nav {
    overflow: auto;
    white-space: nowrap;
  }
  .navFav {
    position: relative;
  }
  .basic {
    margin: auto;
}

}